{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="list__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">

    <h3 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h3>

    <p class="entry__meta">
      {% if post.type and post.type != "Talk" %}<span class="entry__badge">{{ post.type }}</span>{% endif %}
      {% if post.date %}<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%-d %B %Y" }}</time>{% endif %}
      {% if post.venue %}<span class="entry__sep">&middot;</span>{{ post.venue }}{% endif %}
      {% if post.location %}<span class="entry__sep">&middot;</span>{{ post.location }}{% endif %}
    </p>

  </article>
</div>
